/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; font-style: normal; font-weight: 400; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; }

em, strong, b, i, a, span, sub, sup, small { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

a:focus { outline: 0; }

:focus, :active { outline: none; outline: 0; }

::-moz-focus-inner { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

li { list-style: none; }

a { text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border-top: 1px solid #000; color: #000; }

input, select { vertical-align: middle; }

sub { vertical-align: sub; font-size: smaller; line-height: 0px; }

sup { vertical-align: super; font-size: smaller; line-height: 0px; }

input, button, textarea, select, label, img { display: inline-block; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { -webkit-appearance: none; }

textarea { resize: none; }

button, a span { cursor: pointer; }

button { border: 0; text-align: center; }

button::-moz-focus-inner { padding: 0; border: 0; }

table { table-layout: fixed; }

a[href^=tel] { color: inherit; }

#no_ie6 { width: 100%; height: 40px; overflow: hidden; border-bottom: 2px solid #000; }

/* != FONT SMOOTHING */
body, input, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* * { box-sizing: border-box;} */
/* != .clearfix - CLEAR ELEMENTS */
.clear { clear: both; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }

/* Hides from IE-mac \*/
.clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix { zoom: 1; }

/* IE7 */
/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; word-wrap: break-word; }

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
@font-face { font-family: "jack-social"; src: url("../fonts/JackSocial/jack-social.eot"); src: url("../fonts/JackSocial/jack-social.eot?#iefix") format("embedded-opentype"), url("../fonts/JackSocial/jack-social.ttf") format("truetype"), url("../fonts/JackSocial/jack-social.woff") format("woff"), url("../fonts/JackSocial/jack-social.svg#jack-social") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "wilson-bulter"; src: url("../fonts/icons/wilson-bulter.eot"); src: url("../fonts/icons/wilson-bulter.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/wilson-bulter.woff") format("woff"), url("../fonts/icons/wilson-bulter.ttf") format("truetype"), url("../fonts/icons/wilson-bulter.svg#wilson-bulter") format("svg"); font-weight: normal; font-style: normal; }
[data-icon]:before { font-family: "wilson-bulter" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "wilson-bulter" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before { content: "a"; }

.icon-arrow-left:before { content: "b"; }

.icon-arrow-right:before { content: "c"; }

.icon-arrow-up:before { content: "d"; }

.icon-angle-down:before { content: "e"; }

.icon-angle-left:before { content: "f"; }

.icon-angle-right:before { content: "g"; }

.icon-angle-up:before { content: "h"; }

.icon-search-1:before { content: "j"; }

.icon-email:before { content: "i"; }

.icon-issuu:before { content: "k"; }

@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_1_0.eot"); src: url("../fonts/meta/2F2E21_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_1_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_1_0.woff") format("woff"), url("../fonts/meta/2F2E21_1_0.ttf") format("truetype"); font-style: normal; font-weight: 200; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_2_0.eot"); src: url("../fonts/meta/2F2E21_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_2_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_2_0.woff") format("woff"), url("../fonts/meta/2F2E21_2_0.ttf") format("truetype"); font-style: italic; font-weight: 200; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_4_0.eot"); src: url("../fonts/meta/2F2E21_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_4_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_4_0.woff") format("woff"), url("../fonts/meta/2F2E21_4_0.ttf") format("truetype"); font-style: normal; font-weight: 400; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_0_0.eot"); src: url("../fonts/meta/2F2E21_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_0_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_0_0.woff") format("woff"), url("../fonts/meta/2F2E21_0_0.ttf") format("truetype"); font-style: italic; font-weight: 400; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_5_0.eot"); src: url("../fonts/meta/2F2E21_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_5_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_5_0.woff") format("woff"), url("../fonts/meta/2F2E21_5_0.ttf") format("truetype"); font-style: normal; font-weight: 600; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_3_0.eot"); src: url("../fonts/meta/2F2E21_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_3_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_3_0.woff") format("woff"), url("../fonts/meta/2F2E21_3_0.ttf") format("truetype"); font-style: italic; font-weight: 600; }
/* FFMetaWebProBook*/
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_7_0.eot"); src: url("../fonts/meta/2F2E21_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_7_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_7_0.woff") format("woff"), url("../fonts/meta/2F2E21_7_0.ttf") format("truetype"); font-style: normal; font-weight: 700; }
@font-face { font-family: 'Meta'; src: url("../fonts/meta/2F2E21_6_0.eot"); src: url("../fonts/meta/2F2E21_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/meta/2F2E21_6_0.woff2") format("woff2"), url("../fonts/meta/2F2E21_6_0.woff") format("woff"), url("../fonts/meta/2F2E21_6_0.ttf") format("truetype"); font-style: italic; font-weight: 700; }
/* =/icons======================================================================== */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
html, body { font-family: 'Meta'; font-weight: 400; }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/* ::selection         { background: #aaa; color: #fff; } ::-moz-selection    { background: #aaa; color: #fff; } ::-webkit-selection { background: #aaa; color: #fff; }
*/
/* != ICON FONT DECLARATION ===== */
[data-icon]:before { font-family: "jack-social"; content: attr(data-icon); font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="social-"]:before, [class*=" social-"]:before { font-family: "jack-social"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.social-email:before { content: "a"; }

.social-email-round:before { content: "A"; }

.social-facebook:before { content: "f"; }

.social-facebook-round:before { content: "F"; }

.social-flickr:before { content: "c"; }

.social-flickr-round:before { content: "C"; }

.social-googleplus:before { content: "g"; }

.social-googleplus-round:before { content: "G"; }

.social-instagram:before { content: "i"; }

.social-instagram-round:before { content: "I"; }

.social-linkedin:before { content: "l"; }

.social-linkedin-round:before { content: "L"; }

.social-pinterest:before { content: "p"; }

.social-pinterest-round:before { content: "P"; }

.social-rss:before { content: "r"; }

.social-rss-round:before { content: "R"; }

.social-sharethis:before { content: "s"; }

.social-sharethis-round:before { content: "S"; }

.social-twitter:before { content: "t"; }

.social-twitter-round:before { content: "T"; }

.social-vimeo:before { content: "v"; }

.social-vimeo-round:before { content: "V"; }

.social-yelp:before { content: "x"; }

.social-yelp-round:before { content: "X"; }

.social-youtube:before { content: "y"; }

.social-youtube-round:before { content: "Y"; }

.social-youtube2:before { content: "u"; }

.social-youtube2-round:before { content: "U"; }

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter { display: block; margin: 25px auto; }

.alignleft { float: left; margin: 0 25px 25px 0; }

.alignright { float: right; margin: 0 0 25px 25px; }

.alignnone { display: inline-block; }

/* != LAYOUT STYLES ===== */
.wrap { width: 1210px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; max-width: 100%; padding: 0 20px; }

.pull-left { float: left; }

.pull-right { float: right; }

.visible-s, .visible-xs { display: none !important; }

.hidden-s { display: block; }

.dropdwn-btn { display: none; }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/* ::-webkit-input-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } :-moz-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } ::-moz-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); } :-ms-input-placeholder { color:     #3b3b3b; opacity: 1; filter: alpha(opacity=100); }
*/
form ul { margin: 0; }
form ul li { background: none; list-style: none; }
form ul li div { display: inline-block; vertical-align: top; }

input[type=submit], button { display: inline-block; cursor: pointer; }

a { -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.link { opacity: 0.9; font-size: 23px; line-height: 23px; display: inline-block; position: relative; font-weight: 700; }
.link.more { padding-right: 43px; min-height: 34px; line-height: 34px; }
.link.more:before { position: absolute; font-family: "wilson-bulter" !important; content: 'c'; color: #f58220; font-size: 14px; top: 0; right: 0; text-transform: none; width: 33px; height: 33px; text-align: center; line-height: 36px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.link.more:after { right: 0; top: 50%; margin-top: -16px; content: ''; position: absolute; width: 32px; height: 32px; -moz-border-radius: 32px; -webkit-border-radius: 32px; border-radius: 32px; border: 1px solid #f58220; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.link.more:hover:before { color: #0054a6; }
.link.more:hover:after { border: 1px solid #0054a6; }

.small-link { font-size: 16px; line-height: 16px; }

.orange-blue-link { color: #f58220; }
.orange-blue-link:hover { color: #0054a6; }

.white-orange-link { color: #fff; }
.white-orange-link:hover { color: #f58220; }

#header { position: absolute; z-index: 9999; width: 100%; top: 30px; left: 0; }
#header .header-wrapper { position: relative; display: inline-block; height: 54px; z-index: 2; }
#header .header-wrapper:before { position: absolute; content: ''; width: 2500px; height: 54px; background: url(../images/header-bg1.png) right bottom no-repeat; top: 0; right: -40px; }

#logo { display: inline-block; padding-right: 30px; position: relative; height: 54px; }
#logo:before { content: ''; position: absolute; width: 1px; height: 30px; right: 0; top: 50%; margin-top: -15px; background: rgba(255, 255, 255, 0.5); }
#logo a { width: 210px; height: 54px; background: url(../images/logo.png) left center no-repeat; background-size: 210px auto; display: inline-block; }

#hm-banner { position: relative; z-index: 2; }
#hm-banner ul { width: 100%; height: 100%; }
#hm-banner ul li { width: 100%; height: 100%; position: relative; }
#hm-banner .banner-img { width: 100%; height: 100vh; height: 600px\9; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#hm-banner .banner-text { position: absolute; z-index: 2; right: 0; bottom: 0; width: 100%; }
#hm-banner .banner-text h2 { color: #fff; display: inline-block; margin-right: 25px; vertical-align: middle; line-height: 17px; font-size: 17px; margin-top: 30px; }
#hm-banner .banner-text h2 a { color: #fff; }
#hm-banner .banner-text h2 a:hover { color: #f58220; }
#hm-banner .banner-corner { width: 84px; height: 84px; position: relative; border: 1px solid #fff; background: #fff; }
#hm-banner .banner-corner:before { content: ''; position: absolute; top: 1px; left: 1px; border: 42px solid #f58220; width: 84px; height: 84px; border-bottom: 42px solid transparent; border-right: 42px solid transparent; box-sizing: border-box; }

#mobile-menu-wrapper { display: none; }

#main-nav > ul { font-size: 0; position: relative; }
#main-nav > ul > li { display: inline-block; position: relative; margin: 0 10px; height: 54px; overflow: hidden; }
#main-nav > ul > li#magic-line { position: absolute; top: 0; left: 0; width: 100px; height: 7px; margin: 0; background: #f58220; z-index: 4; }
#main-nav > ul > li > a { font-size: 15px; text-transform: uppercase; display: block; padding: 0 10px; line-height: 58px; color: #fff; position: relative; float: left; }
#main-nav > ul > li ul { display: none; position: absolute; top: 100%; z-index: 999; }
#main-nav > ul > li ul li { display: block; }
#main-nav > ul > li:hover > a { /*background:#000;
color: #fff;*/ }
#main-nav > ul > li:hover ul { display: block; }

.fw-content { margin: 63px 0; text-align: center; }
.fw-content h2 { color: #0054a6; font-size: 44px; margin-bottom: 25px; font-weight: 200; }
.fw-content p { margin: 0 auto 25px; max-width: 700px; color: #565656; font-size: 26px; font-weight: 200; line-height: 32px; }

#news-slider-wrap { position: relative; width: 100%; overflow: hidden; }
#news-slider-wrap .news-slider-text { position: relative; width: 100%; z-index: 5; }
#news-slider-wrap .content-box { padding: 34px 0 86px 55px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: rgba(0, 84, 166, 0.85); position: relative; border-left: 2px solid white; width: 475px; position: relative; z-index: 2; min-height: 432px; }
#news-slider-wrap .content-box:before { width: 84px; height: 100%; content: ''; position: absolute; right: -86px; bottom: 86px; background-color: rgba(0, 84, 166, 0.85); border-right: 2px solid white; }
#news-slider-wrap .content-box:after { width: 86px; height: 86px; content: ''; position: absolute; bottom: 0; right: -86px; background: url(../images/fw-slider-content-bg.png) right bottom no-repeat; }
#news-slider-wrap .top-box { margin-bottom: 50px; }
#news-slider-wrap .news-pager { margin-top: 3px; }
#news-slider-wrap h4 { font-size: 18px; margin-right: 15px; line-height: 18px; text-transform: uppercase; color: #f58220; max-width: 140px; font-weight: 600; float: left; }
#news-slider-wrap h6 { font-size: 14px; margin-bottom: 15px; color: #f58220; line-height: 14px; }
#news-slider-wrap h3 { font-size: 28px; line-height: 26px; margin-bottom: 20px; max-width: 320px; font-weight: 200; }
#news-slider-wrap h3 a { color: #fff; }
#news-slider-wrap h3 a:hover { color: #f58220; }
#news-slider-wrap p { font-size: 15px; line-height: 22px; color: #fff; font-weight: 200; }
#news-slider-wrap .read-more-wrap { position: absolute; right: 28px; bottom: 32px; }

#news-slider { width: 100%; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 3; }
#news-slider li { width: 100%; position: absolute; height: 100%; }
#news-slider .bg-img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.cycle-pager { height: 13px; vertical-align: middle; overflow: hidden; }
.cycle-pager span { display: block; border: 0; background: rgba(255, 255, 255, 0.3); height: 12px; width: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; outline: none; line-height: 0px; font-size: 0px; margin: 0 4px; color: transparent; cursor: pointer; padding: 0; float: left; }
.cycle-pager span:hover, .cycle-pager span.cycle-pager-active { outline: none; background: #fff; }

#portfolio-item-wrapper { max-width: 1500px; margin: 0 auto; width: 100%; padding: 0 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.portfolio-items { font-size: 0; margin-left: -0.2%; }
.portfolio-items > li { margin-left: 0.2%; display: inline-block; font-size: 12px; width: 24.8%; margin-bottom: 0.2%; height: auto; position: relative; }
.portfolio-items > li a, .portfolio-items > li span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; }
.portfolio-items > li a:hover .hover-box, .portfolio-items > li a.active .hover-box, .portfolio-items > li span:hover .hover-box, .portfolio-items > li span.active .hover-box { opacity: 1; visibility: visible; }
.portfolio-items > li a:hover .hover-box:before, .portfolio-items > li a.active .hover-box:before, .portfolio-items > li span:hover .hover-box:before, .portfolio-items > li span.active .hover-box:before { bottom: 0; right: 0; }
.portfolio-items .box-size { width: 100%; padding-top: 100%; height: 0; }
.portfolio-items .bg-img { width: 100%; height: 100%; z-index: 1; top: 0; left: 0; opacity: 1; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.portfolio-items .hover-box { position: absolute; width: 100%; height: 100%; top: 0; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: rgba(245, 130, 32, 0.92); text-align: center; padding: 0 60px; visibility: hidden; opacity: 0; z-index: 2; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; overflow: hidden; }
.portfolio-items .hover-box:before { position: absolute; content: ''; bottom: -50px; right: -50px; width: 0; height: 0; border-style: solid; border-width: 0 0 44px 44px; border-color: transparent transparent #ffffff transparent; opacity: 1; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.portfolio-items .hover-box .inner-box { display: inline-block; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.portfolio-items h3 { color: #fff; text-transform: uppercase; font-size: 30px; line-height: 30px; margin-bottom: 20px; display: block; text-align: center; font-weight: 200; }
.portfolio-items h4 { font-size: 17px; color: #0054a6; margin-bottom: 8px; display: block; text-align: center; font-weight: 700; }
.portfolio-items ul { font-size: 0; }
.portfolio-items ul li { font-size: 14px; padding: 0 6px; border-left: 1px solid #fff; line-height: 14px; display: inline-block; color: #fff; }
.portfolio-items ul li:first-child { border-left: none; }

#footer { margin-top: 25px; padding-bottom: 60px; }
#footer .main-wrapper { padding-top: 35px; border-top: 1px solid #d5d5d5; position: relative; }
#footer .footer-logo { display: inline-block; z-index: 4; position: relative; }
#footer .footer-logo a { width: 210px; height: 20px; display: inline-block; background: url(../images/footer-logo.png) left top no-repeat; background-size: 210px auto; background-position: left 4px; }
#footer .f-middle { position: absolute; z-index: 2; top: 35px; width: 100%; text-align: center; left: 0; }
#footer .f-middle .address-wrap { margin-bottom: 15px; display: block; width: 100%; text-align: center; }
#footer .f-middle .address-wrap .box-one, #footer .f-middle .address-wrap .box-two { font-size: 0; display: inline-block; }
#footer .f-middle .address-wrap .address-inner { display: inline-block; }
#footer .f-middle .address-wrap p, #footer .f-middle .address-wrap span, #footer .f-middle .address-wrap a { font-size: 14px; display: inline-block; color: #565656; line-height: 14px; font-weight: 200; }
#footer .f-middle .address-wrap span { border-left: 1px solid #565656; border-right: 1px solid #565656; padding: 0 10px; margin: 0 10px; }
#footer .f-middle .address-wrap a:hover { color: #f58220; }
#footer .f-middle .copyright { margin-bottom: 8px; }
#footer .f-middle .copyright, #footer .f-middle .jrd-wrap { text-align: center; color: #979797; font-size: 11px; line-height: 11px; font-weight: 200; }
#footer .f-middle .copyright p, #footer .f-middle .copyright a, #footer .f-middle .jrd-wrap p, #footer .f-middle .jrd-wrap a { display: inline-block; color: #979797; font-size: 11px; line-height: 11px; font-weight: 200; }
#footer .f-middle .copyright a:hover, #footer .f-middle .jrd-wrap a:hover { color: #f58220; }

.f-social { position: relative; z-index: 4; }
.f-social ul { font-size: 0; }
.f-social ul li { display: inline-block; font-size: 26px; }
.f-social a i { margin-left: 2px; color: #939393; }
.f-social a i.icon-issuu { font-size: 16px; position: relative; top: -2px; margin-left: 7px; }
.f-social a:hover i.social-twitter { color: #00b8f3; }
.f-social a:hover i.social-facebook { color: #3d5893; }
.f-social a:hover i.social-linkedin { color: #1a78b2; }
.f-social a:hover i.social-instagram { color: #417095; }
.f-social a:hover i.icon-issuu { color: #ea522e; }

/* ========================================================================= */
/* !MEDIA QUERIES */
/* ========================================================================= */
@media screen and (max-width: 1210px) { .slick-dots { width: auto; margin-left: 210px; left: 0; }
  .portfolio-items h3 { font-size: 22px; line-height: 24px; word-wrap: break-word; }
  .portfolio-items .hover-box { padding: 0 30px; }
  #footer .footer-logo a { width: 175px; background-size: 175px auto; } }
/*1210*/
@media screen and (max-width: 980px) { #footer .main-wrapper { padding-top: 15px; }
  #footer .footer-logo { display: none; }
  #footer .f-middle { position: relative; padding-top: 25px; top: auto; }
  #footer .footer-right { width: 100%; text-align: center; }
  #footer .footer-right .f-social { float: none; display: inline-block; } }
/*980*/
@media screen and (max-width: 880px) { .portfolio-items h3 { font-size: 14px; line-height: 17px; margin-bottom: 17px; }
  .portfolio-items h4 { font-size: 14px; }
  .portfolio-items ul { display: none; } }
/*880*/
@media screen and (max-width: 768px) { .hidden-s { display: none; }
  .visible-s { display: block !important; }
  .link { font-size: 18px; }
  .small-link { font-size: 13px; line-height: 13px; }
  #header { top: 10px; }
  #header .wrap { padding: 0 40px 0 20px; }
  #header .header-wrapper { display: block; background: no-repeat; height: 49px; }
  #header .header-wrapper:before { right: 0; height: 49px; }
  #header .header-wrapper.active-mobile-menu:before { background: url(../images/blue-header-bg.png) right top repeat; }
  #logo { height: 49px; padding-right: 22px; }
  #logo a { height: 49px; width: 176px; background-size: 176px auto; }
  #toggle_menu_btn { width: 50px; height: 49px; position: absolute; top: 0; right: 6px; cursor: pointer; overflow: hidden; text-align: center; line-height: 52px; color: #fff; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
  #toggle_menu_btn span { cursor: pointer; height: 3px; width: 22px; background: #fff; position: absolute; display: block; content: ''; top: 50%; margin-top: -2px; left: 50%; margin-left: -13px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  #toggle_menu_btn span:before, #toggle_menu_btn span:after { cursor: pointer; height: 3px; width: 22px; background: #fff; position: absolute; display: block; content: ''; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  #toggle_menu_btn span:before { top: -8px; }
  #toggle_menu_btn span:after { bottom: -8px; }
  #toggle_menu_btn:hover span, #toggle_menu_btn.active span { background-color: #f58220; }
  #toggle_menu_btn:hover span:before, #toggle_menu_btn:hover span:after, #toggle_menu_btn.active span:before, #toggle_menu_btn.active span:after { background-color: #f58220; }
  #toggle_menu_btn.active span { background-color: transparent; }
  #toggle_menu_btn.active span:before, #toggle_menu_btn.active span:after { top: 0; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
  #toggle_menu_btn.active span:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
  #toggle_menu_btn.active span:after { -webkit-transform: translateY(-8px) rotate(-45deg); -moz-transform: translateY(-8px) rotate(-45deg); -ms-transform: translateY(-8px) rotate(-45deg); -o-transform: translateY(-8px) rotate(-45deg); transform: translateY(-8px) rotate(-45deg); top: 8px; }
  #mobile-menu-wrapper { position: absolute; top: 100%; width: 100%; display: none; background: url(../images/blue-header-bg.png) right top repeat; left: -20px; padding-left: 20px; }
  #mobile-menu-wrapper:before { position: absolute; bottom: -20px; right: 0; content: ''; width: 100%; height: 20px; padding-left: 20px; background: url(../images/header-bg1.png) right bottom no-repeat; }
  #mobile-nav { position: relative; width: 100%; z-index: 4; }
  #mobile-nav > ul > li { margin: 5px 0; }
  #mobile-nav > ul > li > a { text-transform: uppercase; font-size: 15px; line-height: 15px; display: inline-block; position: relative; padding: 8px 0; color: #fff; }
  #mobile-nav > ul > li > a:before { position: absolute; top: 0; left: -20px; content: ''; background: #f58220; width: 5px; height: 100%; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
  #mobile-nav > ul > li > a:hover:before { visibility: visible; opacity: 1; }
  #hm-banner .banner-img { height: 275px; }
  #hm-banner .banner-text h2 { font-size: 13px; margin-top: 5px; }
  #hm-banner .banner-corner { width: 28px; height: 28px; position: relative; border: 1px solid #fff; background: #fff; }
  #hm-banner .banner-corner:before { content: ''; position: absolute; top: 1px; left: 1px; border: 14px solid #f58220; width: 28px; height: 28px; border-bottom: 14px solid transparent; border-right: 14px solid transparent; box-sizing: border-box; }
  .fw-content { margin: 40px 0; }
  .fw-content h2 { font-size: 28px; line-height: 28px; margin-bottom: 20px; }
  .fw-content p { font-size: 18px; line-height: 21px; margin-bottom: 20px; }
  #news-slider-wrap .wrap { padding: 0; }
  #news-slider-wrap .content-box { background-color: #0054a6; padding: 24px 20px 55px; border-left: none; width: 100%; max-width: 100%; min-height: 0; }
  #news-slider-wrap .content-box:before { display: none; }
  #news-slider-wrap .content-box:after { right: 0; width: 28px; height: 28px; background-size: 28px 28px; background-image: url(../images/banner-text-bg.jpg); }
  #news-slider-wrap .top-box { margin-bottom: 35px; }
  #news-slider-wrap h6 { margin-bottom: 10px; }
  #news-slider-wrap h3 { font-size: 23px; line-height: 26px; }
  #news-slider-wrap p { margin-bottom: 20px; }
  #news-slider-wrap .read-more-wrap { bottom: 5px; right: 45px; }
  #news-slider { position: relative; width: 100%; height: 250px; top: auto; left: auto; }
  #portfolio-item-wrapper { padding: 0 1px; }
  .portfolio-items > li { width: 33.1%; }
  .portfolio-items .hover-box:before { border-width: 0 0 20px 20px; } }
/*768*/
@media screen and (max-width: 680px) { #news-slider { height: 150px; }
  .portfolio-items > li { width: 49.7%; margin-bottom: 2px; }
  #footer { padding-bottom: 45px; }
  #footer .f-middle .address-wrap .box-one, #footer .f-middle .address-wrap .box-two { display: block; width: 100%; }
  #footer .f-middle .address-wrap .box-two { margin-top: 8px; }
  #footer .f-middle .address-wrap .box-two span { border-left: none; margin-left: 0; padding-left: 0; } }
/*680*/

/*# sourceMappingURL=style.css.map */
